body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: url('../imagenes/delfin.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
  }
  .header {
    background-color: rgba(0, 203, 255, 0.5);
    min-height: 15vh;
  }
  .contenedor {
    padding: 30px;
    min-height: 100vh;
  }
  .frase {
    font-size: 1.5em;
    margin: 20px auto;
    margin-left: -10vw;
  }
  .frases {
    font-size: 4vw;
    margin: 20px;
    font-family: serif;
  }
  .galeria img {
    width: 250px;
    margin: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px white;
  }
  .galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .titulo{
    font-size: 7vw;
    font-family: 'Great Vibes', cursive;
    margin: 20px;
  }
  .nom{
    font-size: 15vw;
    font-family: 'PT Sans';
    margin: 20px;
  }
  .foot{
    background-color: rgba(0, 203, 255, 0.5);
    min-height: 15vh;
    width: 98.9vw;
  }
  .foots{
    font-size: 2vw;
  }
  nav.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    min-height: 8vh;
    padding: 3vh 0px;
  }
  img.nav-two{
    margin-left: 3vw;
    height: 10vh;
    width: 7vw;
  }
  
  nav.nav-main ul{
    display: flex;
  }
  
  nav.nav-main ul li{
    padding: 10px;
  }
  
  nav.nav-main ul li a:hover{
    border-bottom: 2px solid white;
  }
  
  nav.nav-main ul.nav-menu{
    flex: 1;
    margin-right: 20px;
  }
  
  ul{
    list-style: none;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
